@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin inputs {
  height: 35px;
  border: solid 2px #2c7803;
  padding-left: 15px;
}

@mixin pc-display {
  body main .customer-area {
    flex-direction: row-reverse;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .customer-area .new-customer,
  .customer-area .login {
    width: 100%;
    display: block;
  }

  .customer-area {
    gap: 30px;
  }
}
