@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin inputs {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  border: 2px solid green;
  box-sizing: border-box;
}

@mixin pc-display {
  body main .customer-area {
    flex-direction: row-reverse;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .customer-area .new-customer,
  .customer-area .login {
    width: 100%;
    display: block;
  }

  .customer-area {
    gap: 30px;
  }
}

@mixin before($content) {
  &::before {
    content: $content;
    color: white;
    background: black;
    padding: 5px;
  }
}

@mixin base-req {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
