$highlight-color: #4caf50;

$highlight-color-hover: #419645;

$button-color: #999;

$button-color-hover: #666;

$dark-grey: #333;

$form-bg-color: lightgray;

$text-color: black;

$vertical-padding: 10px;
$horizontal-padding: 15px;

$button-sizes: (
  small: (
    padding: #{$vertical-padding} #{$horizontal-padding},
    background-color: $button-color,
    color: white,
    font-size: 12px,
  ),
  large: (
    padding: #{$vertical-padding + 3} #{$horizontal-padding + 20},
    font-size: 18px,
    width: 100%,
    margin: 10px 0px,
  ),
  extra-large: (
    padding: #{$vertical-padding + 10} #{$horizontal-padding + 20},
    flex-center: true,
    font-size: 20px,
  ),
);
